/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }
  .container .row::before, .container .row::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .container .row [class*='col-'] {
    float: left;
    width: 100%; }
  @media (min-width: 320px) {
    .container .row .col-s-1 {
      width: 16.66667%; }
    .container .row .col-s-2 {
      width: 33.33333%; }
    .container .row .col-s-3 {
      width: 50%; }
    .container .row .col-s-4 {
      width: 66.66667%; }
    .container .row .col-s-5 {
      width: 83.33333%; }
    .container .row .col-s-6 {
      width: 100%; } }
  @media (min-width: 765px) {
    .container .row .col-m-1 {
      width: 16.66667%; }
    .container .row .col-m-2 {
      width: 33.33333%; }
    .container .row .col-m-3 {
      width: 50%; }
    .container .row .col-m-4 {
      width: 66.66667%; }
    .container .row .col-m-5 {
      width: 83.33333%; }
    .container .row .col-m-6 {
      width: 100%; } }
  @media (min-width: 1024px) {
    .container .row .col-l-1 {
      width: 16.66667%; }
    .container .row .col-l-2 {
      width: 33.33333%; }
    .container .row .col-l-3 {
      width: 50%; }
    .container .row .col-l-4 {
      width: 66.66667%; }
    .container .row .col-l-5 {
      width: 83.33333%; }
    .container .row .col-l-6 {
      width: 100%; } }

body {
  font-size: 20px; }

header > div .name, header > div nav {
  color: white;
  background-color: #575657; }

header > div {
  border-bottom: 5px solid #1fabdb; }
  @media (min-width: 765px) {
    header > div {
      border-bottom: 10px solid #1fabdb; } }
  @media (min-width: 1024px) {
    header > div {
      border-bottom: 10px solid #1fabdb; } }
  @media (min-width: 1024px) {
    header > div .name {
      text-align: center;
      min-height: 200px;
      color: white;
      background-color: #1fabdb; } }
  header > div .name .title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 15px;
    min-height: 75px;
    line-height: 75px; }
    @media (min-width: 765px) {
      header > div .name .title {
        font-size: 2.5rem; } }
    @media (min-width: 1024px) {
      header > div .name .title {
        font-size: 5rem;
        height: 125px;
        line-height: 150px;
        letter-spacing: 10px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 5s steps(15, end); } }
  header > div .name .description {
    display: none; }
    @media (min-width: 1024px) {
      header > div .name .description {
        display: block;
        height: 75px;
        font-size: 2rem;
        color: transparent;
        animation-name: visible;
        animation-duration: 3s;
        animation-delay: 5s;
        animation-fill-mode: forwards; } }
  header > div nav {
    text-align: center;
    text-align: right; }
    header > div nav .mobileMenu {
      min-height: 75px;
      padding-right: 15px;
      padding-top: 5px; }
      @media (min-width: 1024px) {
        header > div nav .mobileMenu {
          display: none; } }
    header > div nav a {
      text-decoration: none;
      color: white;
      font-size: 0.75rem; }
      @media (min-width: 765px) {
        header > div nav a {
          font-size: 1.5rem; } }
      @media (min-width: 1024px) {
        header > div nav a {
          font-size: 1.5rem; } }
    header > div nav ul {
      display: none; }
      @media (min-width: 1024px) {
        header > div nav ul {
          display: flex;
          justify-content: space-around; } }
      header > div nav ul li {
        list-style: none;
        text-align: center;
        line-height: 45px;
        height: 45px; }
        @media (min-width: 765px) {
          header > div nav ul li {
            line-height: 65px;
            min-height: 65px; } }
        @media (min-width: 1024px) {
          header > div nav ul li {
            width: 33.333%;
            line-height: 65px;
            min-height: 65px; }
            header > div nav ul li:nth-of-type(2) {
              border-left: 5px solid #aca6a6;
              border-right: 5px solid #aca6a6; } }

.showMenu {
  display: block; }
  .showMenu li {
    border: transparent;
    border-top: 5px solid #aca6a6; }

#gallery > div {
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(0%, #575657), color-stop(95%, #dbdbdb), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%); }
  #gallery > div .prev, #gallery > div .next {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 765px) {
      #gallery > div .prev, #gallery > div .next {
        height: 200px; } }
    @media (min-width: 1024px) {
      #gallery > div .prev, #gallery > div .next {
        height: 250px; } }
    #gallery > div .prev .arrowLeft, #gallery > div .prev .arrowRigth, #gallery > div .next .arrowLeft, #gallery > div .next .arrowRigth {
      width: 25px;
      height: 25px;
      border: 5px solid #1fabdb;
      transform: rotate(45deg);
      line-height: 200px; }
      @media (min-width: 765px) {
        #gallery > div .prev .arrowLeft, #gallery > div .prev .arrowRigth, #gallery > div .next .arrowLeft, #gallery > div .next .arrowRigth {
          width: 50px;
          height: 50px; } }
      @media (min-width: 1024px) {
        #gallery > div .prev .arrowLeft, #gallery > div .prev .arrowRigth, #gallery > div .next .arrowLeft, #gallery > div .next .arrowRigth {
          width: 50px;
          height: 50px; } }
    #gallery > div .prev .arrowLeft, #gallery > div .next .arrowLeft {
      border-top: transparent;
      border-right: transparent; }
    #gallery > div .prev .arrowRigth, #gallery > div .next .arrowRigth {
      border-bottom: transparent;
      border-left: transparent; }
  #gallery > div .galleryContent {
    height: 150px;
    position: relative; }
    @media (min-width: 765px) {
      #gallery > div .galleryContent {
        height: 200px; } }
    @media (min-width: 1024px) {
      #gallery > div .galleryContent {
        height: 250px; } }
    #gallery > div .galleryContent div {
      height: 100%;
      width: 100%;
      text-align: center;
      position: absolute;
      padding: 20px 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background: #e2e2e2;
      background: -moz-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(0%, #575657), color-stop(95%, #dbdbdb), color-stop(100%, #fefefe));
      background: -webkit-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
      background: -o-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
      background: -ms-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%); }
      #gallery > div .galleryContent div h2 {
        font-size: 1.5rem;
        font-weight: bold; }
        @media (min-width: 765px) {
          #gallery > div .galleryContent div h2 {
            font-size: 2.5rem; } }
        @media (min-width: 1024px) {
          #gallery > div .galleryContent div h2 {
            font-size: 3.5rem; } }
      #gallery > div .galleryContent div a {
        color: white;
        font-size: 0.75rem;
        background: #1fabdb;
        border-radius: 25px;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        padding: 5px;
        align-self: center; }
        @media (min-width: 765px) {
          #gallery > div .galleryContent div a {
            font-size: 1rem;
            width: 150px;
            height: 40px;
            margin-top: 10px;
            padding: 15px 30px; } }
        @media (min-width: 1024px) {
          #gallery > div .galleryContent div a {
            font-size: 1.5rem;
            width: 200px;
            height: 50px;
            margin-top: 10px;
            padding: 15px 30px; } }

#alphabet {
  min-height: 1000px; }
  @media (min-width: 1024px) {
    #alphabet {
      min-height: 750px; } }
  #alphabet header {
    background: #575657;
    color: white; }
    #alphabet header .title {
      border-top: 5px solid #1fabdb;
      border-bottom: 5px solid #1fabdb;
      text-align: center;
      position: relative;
      height: 100px; }
      @media (min-width: 765px) {
        #alphabet header .title {
          height: 150px;
          border-top: 10px solid #1fabdb;
          border-bottom: 10px solid #1fabdb; } }
      @media (min-width: 1024px) {
        #alphabet header .title {
          height: 150px;
          border-top: 10px solid #1fabdb;
          border-bottom: 10px solid #1fabdb; } }
      #alphabet header .title h1 {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
        padding: 15px; }
        @media (min-width: 765px) {
          #alphabet header .title h1 {
            font-size: 3rem; } }
        @media (min-width: 1024px) {
          #alphabet header .title h1 {
            font-size: 3rem; } }
      #alphabet header .title h2 {
        font-size: 1rem; }
        @media (min-width: 765px) {
          #alphabet header .title h2 {
            font-size: 2rem; } }
        @media (min-width: 1024px) {
          #alphabet header .title h2 {
            font-size: 2rem; } }
      #alphabet header .title div {
        position: absolute;
        top: 10px;
        right: 20px; }
  #alphabet .breeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(0%, #575657), color-stop(95%, #dbdbdb), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%); }
    #alphabet .breeds .box {
      width: 30vw;
      height: 30vw;
      position: relative;
      margin: 25px 0;
      border-radius: 25%;
      border: 5px solid #1fabdb; }
      @media (min-width: 765px) {
        #alphabet .breeds .box {
          width: 18vw;
          height: 18vw; } }
      @media (min-width: 1024px) {
        #alphabet .breeds .box {
          width: 14vw;
          height: 14vw; }
          #alphabet .breeds .box:hover {
            animation-name: spaceboots;
            animation-duration: 0.8s;
            transform-origin: 50% 50%;
            animation-iteration-count: infinite;
            animation-timing-function: linear; }
          #alphabet .breeds .box:hover > div.letter {
            display: none; } }
      #alphabet .breeds .box div.letter {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 30;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 25vw;
        color: #1fabdb;
        text-align: center;
        line-height: 100%;
        border-radius: 25%; }
        @media (min-width: 765px) {
          #alphabet .breeds .box div.letter {
            font-size: 14vw; } }
        @media (min-width: 1024px) {
          #alphabet .breeds .box div.letter {
            font-size: 10vw; } }

.hideRacesBox {
  display: none; }

.racesBox {
  border: 5px solid #1fabdb;
  background: white;
  position: relative; }
  .racesBox button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
    background-color: #575657; }
    @media (min-width: 765px) {
      .racesBox button {
        font-size: 1.5rem;
        top: 20px;
        right: 20px; } }
    @media (min-width: 1024px) {
      .racesBox button {
        font-size: 1.5rem;
        top: 20px;
        right: 20px; } }
  .racesBox .racesImage {
    display: inline-block;
    width: 100%; }
    @media (min-width: 765px) {
      .racesBox .racesImage {
        width: 50%; } }
    @media (min-width: 1024px) {
      .racesBox .racesImage {
        width: 50%; } }
  .racesBox .racesInfo {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 25px; }
    @media (min-width: 765px) {
      .racesBox .racesInfo {
        width: 50%; } }
    @media (min-width: 1024px) {
      .racesBox .racesInfo {
        width: 50%; } }
    .racesBox .racesInfo h3 {
      font-size: 1.25rem;
      text-decoration: underline;
      color: #1fabdb;
      font-weight: bold; }
      @media (min-width: 765px) {
        .racesBox .racesInfo h3 {
          font-size: 2rem;
          padding: 10px 0; } }
      @media (min-width: 1024px) {
        .racesBox .racesInfo h3 {
          font-size: 2.5rem;
          padding: 30px 0; } }
    .racesBox .racesInfo .infoTitle {
      font-weight: bold;
      font-size: 0.65rem; }
      @media (min-width: 765px) {
        .racesBox .racesInfo .infoTitle {
          font-size: 1.25rem; } }
      @media (min-width: 1024px) {
        .racesBox .racesInfo .infoTitle {
          font-size: 1.75rem; } }
    .racesBox .racesInfo span.info {
      padding-bottom: 15px;
      font-size: 0.65rem; }
      @media (min-width: 765px) {
        .racesBox .racesInfo span.info {
          font-size: 1.25rem; } }
      @media (min-width: 1024px) {
        .racesBox .racesInfo span.info {
          font-size: 1.75rem; } }

.fullScreen {
  margin: auto auto;
  position: fixed;
  display: inline-block;
  width: 80vw;
  height: 90vh;
  left: 10vw;
  top: 5vh;
  z-index: 50; }
  @media (min-width: 765px) {
    .fullScreen {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 80vh;
      left: 10vw;
      top: 10vh; } }
  @media (min-width: 1024px) {
    .fullScreen {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 80vh;
      left: 10vw;
      top: 10vh; } }

@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(0px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(2px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes visible {
  from {
    color: transparent; }
  to {
    color: white; } }

#matchBreed header {
  background: #575657;
  color: white; }
  #matchBreed header .title {
    border-top: 5px solid #1fabdb;
    border-bottom: 5px solid #1fabdb;
    text-align: center;
    position: relative;
    height: 100px; }
    @media (min-width: 765px) {
      #matchBreed header .title {
        height: 150px;
        border-top: 10px solid #1fabdb;
        border-bottom: 10px solid #1fabdb; } }
    @media (min-width: 1024px) {
      #matchBreed header .title {
        height: 150px;
        border-top: 10px solid #1fabdb;
        border-bottom: 10px solid #1fabdb; } }
    #matchBreed header .title h1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
      padding: 15px; }
      @media (min-width: 765px) {
        #matchBreed header .title h1 {
          font-size: 3rem; } }
      @media (min-width: 1024px) {
        #matchBreed header .title h1 {
          font-size: 3rem; } }
    #matchBreed header .title h2 {
      font-size: 1rem; }
      @media (min-width: 765px) {
        #matchBreed header .title h2 {
          font-size: 2rem; } }
      @media (min-width: 1024px) {
        #matchBreed header .title h2 {
          font-size: 2rem; } }
    #matchBreed header .title div {
      position: absolute;
      top: 10px;
      right: 20px; }

#matchDog .quiz {
  padding: 25px;
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(0%, #575657), color-stop(95%, #dbdbdb), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #575657 0%, #dbdbdb 95%, #fefefe 100%); }
  #matchDog .quiz hr {
    border-top: 5px double #1fabdb; }
  #matchDog .quiz h3 {
    color: #1fabdb;
    font-weight: bold;
    font-size: 1rem; }
    @media (min-width: 765px) {
      #matchDog .quiz h3 {
        font-size: 2rem; } }
  @media (min-width: 765px) {
    #matchDog .quiz form input[type='radio'] {
      transform: scale(1.5); } }
  @media (min-width: 1024px) {
    #matchDog .quiz form input[type='radio'] {
      transform: scale(1.5); } }
  #matchDog .quiz form input[type=submit] {
    background-color: #1fabdb;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem; }
    @media (min-width: 765px) {
      #matchDog .quiz form input[type=submit] {
        font-size: 2rem; } }
    @media (min-width: 1024px) {
      #matchDog .quiz form input[type=submit] {
        font-size: 2.5rem; } }
  #matchDog .quiz form label {
    font-size: 1rem;
    line-height: 1rem;
    padding-left: 10px; }
    @media (min-width: 765px) {
      #matchDog .quiz form label {
        font-size: 1.5rem;
        line-height: 2rem; } }
    @media (min-width: 1024px) {
      #matchDog .quiz form label {
        font-size: 2rem;
        line-height: 2.5rem; } }

.quizResult div {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px; }
  @media (min-width: 765px) {
    .quizResult div {
      font-size: 2rem; } }
  @media (min-width: 1024px) {
    .quizResult div {
      font-size: 2rem; } }

.quizResult ul li {
  display: inline-block;
  text-align: center;
  width: 100%; }
  @media (min-width: 765px) {
    .quizResult ul li {
      width: 40%; } }
  @media (min-width: 1024px) {
    .quizResult ul li {
      width: 30%; } }

#findDog {
  padding: 25px;
  justify-content: center; }
  #findDog svg {
    width: 100%;
    height: 320px; }
    @media (min-width: 765px) {
      #findDog svg {
        height: 100%; } }
    @media (min-width: 1024px) {
      #findDog svg {
        height: 100%; } }
  #findDog select {
    border: 3px solid #1fabdb;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 25px; }
  #findDog div.info {
    width: 100%;
    font-size: 0.75rem;
    text-align: center; }
    @media (min-width: 765px) {
      #findDog div.info {
        font-size: 1.5rem; } }
  #findDog div.shelterList {
    width: 100%;
    font-size: 1rem; }
    #findDog div.shelterList img {
      width: 100%; }
      @media (min-width: 1024px) {
        #findDog div.shelterList img {
          width: 70%;
          display: inline-block; } }
    @media (min-width: 1024px) {
      #findDog div.shelterList ul {
        width: 30%;
        height: 100%;
        display: inline-block; } }
    #findDog div.shelterList ul li h3 {
      font-size: 1rem;
      font-weight: bold;
      color: #1fabdb; }
      @media (min-width: 765px) {
        #findDog div.shelterList ul li h3 {
          font-size: 1.5rem; } }
      @media (min-width: 1024px) {
        #findDog div.shelterList ul li h3 {
          font-size: 1.5rem; } }
    #findDog div.shelterList ul li hr {
      border-top: 5px double #575657; }
    #findDog div.shelterList ul li p {
      font-size: 0.75rem; }
      @media (min-width: 765px) {
        #findDog div.shelterList ul li p {
          font-size: 1rem; } }
      @media (min-width: 1024px) {
        #findDog div.shelterList ul li p {
          font-size: 1rem; } }

.hideList {
  display: none; }

footer {
  background: #575657;
  color: white;
  border-top: 5px solid #1fabdb; }
  @media (min-width: 765px) {
    footer {
      border-top: 10px solid #1fabdb; } }
  @media (min-width: 1024px) {
    footer {
      border-top: 10px solid #1fabdb; } }
  footer div {
    display: flex;
    justify-content: space-between;
    padding: 5px; }
    footer div span {
      width: 50%;
      font-size: 0.65rem; }
      @media (min-width: 765px) {
        footer div span {
          font-size: 1.5rem; } }
      @media (min-width: 1024px) {
        footer div span {
          font-size: 2rem; } }
      footer div span:last-of-type {
        text-align: right; }

.hide {
  display: none; }
