#findDog{
    padding: 25px;
    justify-content: center;
    align-items: stretch;
    svg{
        width: 100%;
    }
    select{
        font-size: 1rem;
        width: 100%;
        margin-bottom: 25px;
    }
    div.info{
        width: 100%;
    }
    div.shelterList{
        width: 100%;
        div.maps{
            width: 50%;
        }
        div.address{
            width: 50%;
        }
    }
}


.hideList{
    display: none;
}
