#findDog{
    padding: 25px;
    justify-content: center;
    align-items: stretch;
    svg{
        width: 100%;
    }
    select{
        border: 3px solid $baseColor1;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 25px;
    }
    div.info{
        width: 100%;
        font-size: 0.75rem;
        text-align: center;
        @include tablet{
          font-size: 1.5rem;
        }
    }
    div.shelterList{
        width: 100%;
        font-size: 1rem;
        img{
            width: 100%;
            @include desktop{
              width: 70%;
              display: inline-block;
            }
        }
        ul{
            @include desktop{
              width: 30%;
              height: 100%;
              display: inline-block;
            }
            li{
                h3{
                    font-size: 1rem;
                    font-weight: bold;
                    color: $baseColor1;
                    @include tablet{
                      font-size: 1.5rem;
                    }
                    @include desktop{
                      font-size: 1.5rem;
                    }
                }
                hr{
                  border-top: 5px double $baseColor3;
                }
                p{
                    font-size: 0.75rem;
                    @include tablet{
                      font-size: 1rem;
                    }
                    @include desktop{
                      font-size: 1rem;
                    }
                }
            }

        }
    }
}


.hideList{
    display: none;
}
