#gallery{
    >div{
          border-top: 5px solid $baseColor1;
          @include tablet{
              border-top: 10px solid $baseColor1;
          }
          @include desktop{
              border-top: 10px solid $baseColor1;
          }
          .prev, .next{
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              @include tablet{
                height: 175px;
              }
              @include desktop{
                height: 225px;
              }
          }
          .arrowLeft, .arrowRigth{
              width: 25px;
              height: 25px;
              border: 5px solid $baseColor1;
              transform: rotate(45deg);
              line-height: 100px;
              @include tablet{
                line-height: 175px;
                width: 50px;
                height: 50px;
              }
              @include desktop{
                line-height: 225px;
                width: 50px;
                height: 50px;
              }
          }
          .arrowLeft{
              border-top: transparent;
              border-right: transparent;
          }
          .arrowRigth{
              border-bottom: transparent;
              border-left: transparent;
          }
      }
      .galleryContent{
          height: 100px;
          @include tablet{
            height: 175px;
          }
          @include desktop{
            height: 225px;
          }
          div{
              height: 100%;
              width: 100%;
              text-align: center;
              h2{
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2rem;
                @include tablet{
                  font-size: 2.5rem;
                  line-height: 4rem;
                }
                @include desktop{
                  font-size: 3.5rem;
                  line-height: 5rem;
                }
              }
              a{
                  color: white;
                  font-size: 0.75rem;
                  background: $baseColor1;
                  border-radius: 25px;
                  width: 100px;
                  height: 30px;
                  padding: 5px;
                  align-self: center;
                  @include tablet{
                    font-size: 1rem;
                    width: 150px;
                    height: 40px;
                    padding: 10px 30px;
                  }
                  @include desktop{
                    font-size: 1.5rem;
                    width: 200px;
                    height: 50px;
                    padding: 10px 30px;
                  }
              }
          }
    }
}

.hideSlide{
    display: none;
}
