body{
    >header:first-of-type{
        background-image: url("https://i.imgur.com/Yd7anfT.jpg");
        background-size: cover;
        font-weight: 700;
        text-align: center;
        color: $baseColor1;
        @include desktop{
            background-position: 0 -115px;
        }
        >div:first-of-type{
            .name{
                min-height: 40px;
                @include tablet{
                    min-height: 75px;
                }
                @include desktop{
                    min-height: 200px;
                    background: rgba(255,255,255, 0.25);
                };
                .title{
                    font-weight: 700;
                    font-size: 1.25rem;
                    padding-left: 15px;
                    line-height: 40px;
                    @include tablet{
                        font-size: 2.5rem;
                        line-height: 75px;
                    }
                    @include desktop{
                        font-size: 5rem;
                        height: 125px;
                        line-height: 150px;
                        letter-spacing: 11px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        animation: typing 2s steps(15, end);
                    };
                }
                .description{
                    display: none;
                    @include desktop{
                        display: block;
                        height: 75px;
                        font-size: 2rem;
                        font-weight: 700;
                        color: transparent;
                        animation-name: visible;
                        animation-duration: 2s;
                        animation-delay: 3s;
                        animation-fill-mode: forwards;
                    }
                }
              }
              .mobileMenu{
                  display: flex;
                  justify-content: center;
                  a{
                      font-size: 1rem;
                      line-height: 40px;
                      color: $baseColor1;
                      @include tablet{
                          line-height: 75px;
                          font-size: 2rem;
                      };
                      @include desktop{
                          display: none;
                      };
                  }
              }
            }
            >div:nth-of-type(2){
                nav{
                    display: none;
                    @include desktop{
                        display: block !important;
                    };
                    ul{
                        li{
                            font-size: 1rem;
                            font-weight: 700;
                            text-decoration: none;
                            list-style: none;
                            line-height: 40px;
                            height: 40px;
                            border: transparent;
                            border-top: 5px solid rgba(255,255,255, 0.5);
                            background: rgba(255,255,255, 0.25);
                            a{
                                text-decoration: none;
                                color: $baseColor1;
                            }
                            @include tablet{
                                font-size: 1.5rem;
                                line-height: 65px;
                                min-height: 65px;
                            }
                            @include desktop{
                                display: inline-block;
                                width: 33.333%;
                                line-height: 65px;
                                min-height: 65px;
                                &:nth-of-type(2){
                                    border-left: 5px solid rgba(255,255,255, 0.25);
                                    border-right: 5px solid rgba(255,255,255, 0.25);
                                }
                            }
                        }
                    }
                }
            }
      }
}
