#matchBreed, #findDog{
  header{
      color: $baseColor1;
      background: rgba(255,255,255, 0.25);
      .title{
          border-top: 5px solid $baseColor1;
          text-align: center;
          position: relative;
          height: 100px;
          @include tablet{
            height: 150px;
            border-top: 10px solid $baseColor1;
            border-bottom: 10px solid $baseColor1;
          }
          @include desktop{
            height: 150px;
            border-top: 10px solid $baseColor1;
            border-bottom: 10px solid $baseColor1;
          }
          h1{
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: underline;
              padding: 15px;
              @include tablet{
                font-size: 3rem;
              }
              @include desktop{
                font-size: 3rem;
              }
          }
          h2{
              font-size: 1rem;
              @include tablet{
                font-size: 2rem;
              }
              @include desktop{
                font-size: 2rem;
              }
          }
          div{
              position: absolute;
              top: 10px;
              right: 20px;
              font-size: 1.5rem;
              @include tablet{
                font-size: 2rem;
              }
              @include desktop{
                font-size: 3rem;
              }
          }
      }
  }
}

#matchBreed{
    background-image: url("https://d-pt.ppstatic.pl/k/r/1/fa/63/56979c319c9d0_p.jpg?1452796662");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    #matchDog{
      background-image: url("https://d-pt.ppstatic.pl/k/r/1/fa/63/56979c319c9d0_p.jpg?1452796662");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .quiz{
          padding: 25px;
          background: rgba(255,255,255, 0.25);
          hr{
            border-top: 5px double $baseColor1;
          }
          h3{
            color: $baseColor1;
            font-weight: bold;
            font-size: 1rem;
            @include tablet{
              font-size: 2rem;
            }
          }
          form{
              input[type='radio']{
                  @include tablet{
                    transform: scale(1.5);
                  }
                  @include desktop{
                    transform: scale(1.5);
                  }
              }
              input[type=submit]{
                  font-family: 'Amatic SC', cursive;
                  background-color: $baseColor1;
                  color: white;
                  font-weight: bold;
                  padding: 10px;
                  width: 100%;
                  text-align: center;
                  font-size: 1.5rem;
                  @include tablet{
                    font-size: 2rem;
                  }
                  @include desktop{
                    font-size: 2.5rem;
                  }
              }
              label{
                  font-size: 1rem;
                  line-height: 1rem;
                  padding-left: 10px;
                  @include tablet{
                    font-size: 1.5rem;
                    line-height: 2rem;
                  }
                  @include desktop{
                    font-size: 2rem;
                    line-height: 2.5rem;
                  }
              }
          }
      }
    }
}


.quizResult{
    div{
      width: 100%;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
      @include tablet{
        font-size: 2rem;
      }
      @include desktop{
        font-size: 2rem;
      }
    }
    ul{
        li{
            display: inline-block;
            text-align: center;
            width: 100%;
            @include tablet{
              width: 40%;
            }
            @include desktop{
              width: 30%;
            }
        }
    }
}
