#chooseDog{
    background-color: $baseColor2;
    padding: 10px;
    padding-left: 20px;
    .title{
        color: $baseColor2;
        background-color: $baseColor3;
        font-weight: bold;
        text-align: center;
        h1{
          font-size: 4rem;
          text-decoration: underline;
        }
        h2{
          font-size: 2rem;
        }
    }
    .quiz{
        hr{
          border-top: 5px double $baseColor3;

        }
        h3{
          color: $baseColor1;
          font-weight: bold;
          font-size: 0.75rem;
        }
        form{
            input[type=submit]{
                background-color: $baseColor1;
                color: $baseColor2;
                font-weight: bold;
                padding: 10px;
                width: 100%;
                text-align: center;
            }
            label{
                font-size: 2rem;
                line-height: 3rem;
            }

        }
    }
}
