    .hideRacesBox{
        display: none;
    }
    .racesBox{
        border: 5px solid $baseColor1;
        background: white;
        position: relative;
        button{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            background-color: $baseColor3;
        }
        .racesImage{
          display: inline-block;
          width: 100%;
          @include tablet{
              width: 50%;
            }
          @include desktop{
              width: 50%;
            }
        }
        .racesInfo{
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 25px;
            @include tablet{
                width: 50%;
              }
            @include desktop{
                width: 50%;
            }
            h3{
                padding-bottom: 20px;
                font-size: 2rem;
                text-decoration: underline;
                color: $baseColor1;
                font-weight: bold;
            }
            .infoTitle{
                font-weight: bold;
                font-size: 1.25rem;
            }
            span.info{
                margin-bottom: 5px;
            }
        }
    }


.fullScreen {
    margin: auto auto;
    position: fixed;
    display: inline-block;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    z-index: 50;
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    @include desktop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
